body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #34495e;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

a {
    color: blue;
}
